<h1>Сибгатуллин Артур. 310 группа. ДЗ-3</h1>

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import pandas as pd
from scipy import stats
import PyNonpar
from PyNonpar import*

In [16]:
data = pd.read_csv("covid_short_data-5.csv")
data.head()

,reporting date,location,country,gender,age,symptom_onset,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered
0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,12/29/2019,01/04/20,1,0.0,0,0
1,1/20/2020,Shanghai,China,female,56.0,1/15/2020,NaN,01/12/20,0,1.0,0,0
2,1/21/2020,Zhejiang,China,male,46.0,01/04/20,NaN,01/03/20,0,1.0,0,0
3,1/21/2020,Tianjin,China,female,60.0,NaN,NaN,NaN,1,0.0,0,0
4,1/21/2020,Tianjin,China,male,58.0,NaN,NaN,NaN,0,0.0,0,0

In [17]:
def to_date(date):
    if len(date.split('/')[-1])==2:
        return datetime.strptime(date, '%m/%d/%y').date()
    return datetime.strptime(date, '%m/%d/%Y').date()
def numOfDays(date1, date2): 
    return (to_date(date2)-to_date(date1)).days 

def numOfDays1(date1, date2):
    if type(date1)==str and type(date2)==str:
        return (to_date(date2)-to_date(date1)).days
    return np.nan

younger_60 = np.array([numOfDays(data['symptom_onset'][n],data['recovered'][n])
                           for n in range(len(data['symptom_onset']))
                           if type(data['symptom_onset'][n]) == str
                               and type(data['recovered'][n]) == str
                               and data['age'][n] < 60
                               and data['recovered'][n] != '0'
                               and data['recovered'][n] != '1'
                         ])
younger_60 = younger_60[younger_60 > 0]
print("People younger than 60: ",len(younger_60))

older_60 = np.array([numOfDays(data['symptom_onset'][n],data['recovered'][n])
                           for n in range(len(data['symptom_onset']))
                           if type(data['symptom_onset'][n]) == str
                               and type(data['recovered'][n]) == str
                               and data['age'][n] >= 60
                               and data['recovered'][n] != '0'
                               and data['recovered'][n] != '1'
                        ])
older_60 = older_60[older_60 > 0]
print("People older than 60: ",len(older_60))

People younger than 60:  74
People older than 60:  11

In [18]:
print("Shapiro for younger than 60:",stats.shapiro(younger_60).pvalue)
print("Shapiro for older than 60:",stats.shapiro(older_60).pvalue)

Shapiro for younger than 60: 0.2433023303747177
Shapiro for older than 60: 0.9952965974807739

Так как p_value > 0.05, то нормальность не отвергается. Поэтому применим критерий Стьюдента, но сначала проверим совпадение дисперсий.

In [19]:
def Ftest_pvalue(d1,d2):
    df1 = len(d1) - 1
    df2 = len(d2) - 1
    F = d1.var(ddof=1) / d2.var(ddof=1)
    double_tailed_pval = 2 * stats.f.cdf(F,df1,df2) if F < 1 else 2 * (1 - stats.f.cdf(F,df1,df2))
    return double_tailed_pval


print("Test: ",Ftest_pvalue(older_60, younger_60))

Test:  0.7937516737258155

In [20]:
print("Student's t-test: ",stats.ttest_ind(older_60, younger_60).pvalue)

Student's t-test:  0.6802848427428991

In [21]:
PyNonpar.twosample.wilcoxon_mann_whitney_test(list(younger_60), list(older_60), alternative="two.sided", method = "asymptotic", alpha = 0.05)

WilcoxonMannWhitneyResult(alternative='two.sided', statistic=0.4724672972646506, HodgesLehmann=1.0, lowerCI=-3, upperCI=5, pvalue=0.6365932788971675)